body {
    background: radial-gradient(circle at top, #e4ecff 0, #f5f7fb 40%, #f7f8fc 100%);

    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.header_container{
    margin-top:0;
    padding-top:2vw;
    margin-left:calc(-50vw + 50%); /*画面いっぱい*/
    width:100vw; /*画面いっぱい*/
    height:max(10vh, 10vw);
    background-color:rgb(32, 32, 156);
}

.header1{
    color: rgb(214, 218, 241);
    font-family: "WDXL Lubrifont JP N", sans-serif;
    font-size: 2vw; 
    text-align: center;
}
.header2{
    color: white;
    font-family: "WDXL Lubrifont JP N", sans-serif;
    font-size: 5vw;
    text-align: center;
}

.body_container{
    margin:1vh;
    display: flex;
}

.map_container{
    border-radius:5vh;
    margin-right:25px;
    width:50vh;
    height:50vh;
    background-color:rgb(221, 244, 203);
}

.form_box{
    text-align:left;
}

.form_box select{
    width:100px;
    background-color:rgb(235, 235, 235);
    border: 1px solid #635b5b;
    border-radius:3px;
}

.search_box{
    margin-top:10px;
    border: 1px solid #679cf1;
    border-radius:2px;
    background-color:white;
    font-family:"WDXL Lubrifont JP N", sans-serif;
    font-size:20px;
    color:blue;
    width:400px;
}

.fastSeengEmptyClassroom_container{
    width:400px;
    
    background-color:rgb(255, 255, 255);
    border: 1px solid #000;
    border-radius:10px;
    margin-top:50px;
}

tr.fastSeengEmptyClassroom_tr th{
    background-color:rgb(51, 51, 163);
    color:rgb(255, 255, 255);
    font-family: "WDXL Lubrifont JP N", sans-serif;
    font-size: 20px; 
    text-align: center;
    border: 1px solid #000;
    border-radius:10px;
}

tr.fastSeengEmptyClassroom_tr td{
    border: 1px solid #000;
}

.rightMenu_container{
    position:fixed;
    border: 1px solid #000;
    background-color:white;
    right:0px;
    border-radius:10px;
}
.ourAdvertise_container{
    margin-top:10px;
    border: 1px solid #000;
}

tr.ourAdvertise_tr th{
    font-family: "WDXL Lubrifont JP N", sans-serif;
    font-size: 15px;
}
tr.ourAdvertise_tr td{
    font-family: "WDXL Lubrifont JP N", sans-serif;
    font-size: 10px;
}

.updateHistory_container{
    margin-top:10px;
    margin-bottom:10px;
    border: 1px solid #000;
    
}

tr.updateHistory_tr th{
    font-size: 10px;
}

tr.updateHistory_tr td{
    font-size: 10px;
}