body {
    background: radial-gradient(circle at top, #e4ecff 0, #f5f7fb 40%, #f7f8fc 100%);

    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.header_container{
    margin-top:0;
    padding-top:min(2vw,2vh);
    margin-left:calc(-50vw + 50%); /*画面いっぱい*/
    width:100vw; /*画面いっぱい*/
    height:min(16vw, 16vh);
    background-color:rgb(32, 32, 156);
}

.header1{
    color: rgb(214, 218, 241);
    font-family: "WDXL Lubrifont JP N", sans-serif;
    font-size: min(4vw,4vh); 
    text-align: center;
}
.header2{
    color: white;
    font-family: "WDXL Lubrifont JP N", sans-serif;
    font-size: min(10vw,10vh);
    text-align: center;
}

.body_container{
    margin:min(1vw,1vh);
    display: flex;
}

.map_container{
    border-radius:min(5vw,5vh);
    margin-right:min(2vw,2vh);
    width:min(50vw, 50vh);
    height:min(50vw, 50vh);
    background-color:rgb(221, 244, 203);
}

#ynuMap{
    margin:0.5vh;
    border-radius:5vh;
    margin-right:25px;
    width:min(49vh, 49vw);
    height:min(49vh, 49vw);
}

.centerContents_container{
    margin-top: 1vh;
}

.form_container{
    text-align:left;
}

.form_container select{
    margin:0.1vw;
    padding-left:1vw;
    width:20%;
    background-color:rgb(235, 235, 235);
    border: 0.1vw solid #635b5b;
    border-radius:1vw;
    font-size:1.5vw;
}

.form_contents{
    font-size:1.5vw
}

.search_box{
    margin-top:1vh;
    border: 0.5vw solid #679cf1;
    border-radius:1vw;
    background-color:white;
    font-family:"WDXL Lubrifont JP N", sans-serif;
    font-size:3vw;
    color:blue;
    width:50vw;
}

.fastSeengEmptyClassroom_container{
    width:50vw;
    
    background-color:rgb(255, 255, 255);
    border: 1px solid #000;
    border-radius:1vw;
    margin-top:3vh;

    padding:0.5vh;
}

tr.fastSeengEmptyClassroom_head_1 th{
    background-color:rgb(43, 43, 146);
    color:rgb(255, 255, 255);

    font-size: 35px;
    text-align: center;
    border: 1px solid #000;
    border-radius:1vw;
}

tr.fastSeengEmptyClassroom_head_2 th{
    background-color:rgb(62, 62, 134);
    color:rgb(239, 241, 255);

    font-size: 15px;
    text-align: center;
    border: 1px solid #000;
}

tr.fastSeengEmptyClassroom_tr td{
    font-size: 20px;
    border: 1px solid #000;
}

tr.fastSeengEmptyClassroom_tr td{
    font-size: 20px;
    border: 1px solid #000;
}

.rightMenu_container{
    position:fixed;
    border: 0.1vw solid #000;
    background-color:white;
    right:0px;
    border-radius:1vw 0 0 1vw;
}
.ourAdvertise_container{
    margin-top: 2vh;
    border-top: 0.1vw solid #000;
    border-bottom: 0.1vw solid #000;
    
}

tr.ourAdvertise_tr th{
    text-align:left;
    font-size: 1.5vw;
}
tr.ourAdvertise_tr td{
    font-family: "WDXL Lubrifont JP N", sans-serif;
    font-size: 1.5vw;
}

.updateHistory_container{
    margin-top:1vh;
    margin-bottom:2vh;
    border-top: 0.1vw solid #000;
    border-bottom: 0.1vw solid #000;
    text-align:left;
}

tr.updateHistory_tr th{
    font-size: 1.5vw;
}

tr.updateHistory_tr td{
    text-align:center;
    font-size: 1vw;
}

.classroom-name {
    font-weight: bold;
    background-color: #E1F5FE;
    color: #01579B;
}

.empty{
    background-color:rgb(200, 255, 200);
}

.occupied{
    background-color:rgb(255, 200, 200);
}

.has-socket {
    background-color: #fff9c4;
}
.no-socket {
    background-color: #eeeeee;
}