body {
    background: radial-gradient(circle at top, #e4ecff 0, #f5f7fb 40%, #f7f8fc 100%);

    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.header_container{
    margin-top:0;
    padding-top:min(2vw,2vh);
    margin-left:calc(-50vw + 50%); /*画面いっぱい*/
    width:100vw; /*画面いっぱい*/
    height:min(16vw, 16vh);
    background-color:rgb(32, 32, 156);
}

.header1{
    color: rgb(214, 218, 241);
    font-family: "WDXL Lubrifont JP N", sans-serif;
    font-size: min(4vw,4vh); 
    text-align: center;
}
.header2{
    color: white;
    font-family: "WDXL Lubrifont JP N", sans-serif;
    font-size: min(10vw,10vh);
    text-align: center;
}

.body_container{
    margin-left:calc(-50vw + 50%); /* 画面いっぱい */
    width:100vw; /* 画面いっぱい */
    display: flex;
    justify-content: center;
}

.centerContents_container{
    margin-top: 1vh;
}

.form_container{
    text-align:left;
}

.form_container select{
    margin:0.1vw;
    padding-left:1vw;
    width:20%;
    background-color:rgb(235, 235, 235);
    border: 0.1vw solid #635b5b;
    border-radius:1vw;
    font-size:1.5vw;
}

.form_contents{
    font-size:1.5vw
}

.search_box{
    margin-top:1vh;
    border: 0.5vw solid #679cf1;
    border-radius:1vw;
    background-color:white;
    font-family:"WDXL Lubrifont JP N", sans-serif;
    font-size:3vw;
    color:blue;
    width:50vw;
}

#dayofweek-text{
    font-size: 24px;
    font-weight: bold;
    margin-top: 2vh;
    text-align: center;
}

.result_container{
    width:60vw;
    background-color:rgb(255, 255, 255);
    border: 1px solid #000;
    border-radius:1vw;
    margin-top:3vh;
    padding:0.5vh;
    text-align: center;
}

thead th{
    background-color:rgb(62, 62, 134);
    color:rgb(239, 241, 255);

    font-size: 20px;
    border: 1px solid #000;
}

td{
    font-size: 20px;
    border: 1px solid #000;
}